<h2>All Projects</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Title</td>
            <td>@project.Status</td>

            <td>
                @if (project.Status == "Pending")
                {
                    <a href="/ModuleLeader/Approve?title=@project.Title">Approve</a>
                    <span> | </span>
                    <a href="/ModuleLeader/Reject?title=@project.Title">Reject</a>
                }
                else
                {
                    <span>-</span>
                }
            </td>
        </tr>
    }
</table>